doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    script(src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp")
    link(rel="stylesheet" href="/main.css")
    link(rel="icon" href="/logo.jpg")
    script(src="https://code.iconify.design/2/2.2.1/iconify.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer")
    title= "New Post - " + page

  body.bg-slate-100.min-h-screen.hidden(class="flex flex-col md:flex")
    include _nav.pug
    .cont.mx-auto.mt-10.z-10.grow
      if !page && !img && !info
        .text-center.text-slate-800.font-bold.text-3xl New Post
        .max-w-4xl.mx-auto.mt-10.h-auto
          .grid.grid-cols-3.text-center.h-full
            a(href="/news/new/post")
              h1.place-content-center.grid.border-2.border-slate-400.rounded.p-5
                <span class="text-6xl mx-auto iconify" data-icon="twemoji:newspaper"></span>
                .mt-4 News
            a(href="/blog/new/post")
              h1.place-content-center.grid.border-2.border-slate-400.rounded.p-5 
                <span class="text-6xl mx-auto iconify" data-icon="logos:blogger"></span>
                .mt-4 Blog
            a(href="/video/new/post")
              h1.place-content-center.grid.border-2.border-slate-400.rounded.p-5 
                <span class="text-6xl mx-auto iconify" data-icon="logos:youtube-icon"></span>
                .mt-4 Video
            a(href="/gully-cricket-chronicles/new/post")
              h1.place-content-center.grid.border-2.border-slate-400.rounded.p-5
                <span class="text-6xl mx-auto iconify" data-icon="emojione:cricket-game"></span>
                .mt-4 Gully Cricket Chronicles
            a(href="/talent-spotting/new/post")
              h1.place-content-center.grid.border-2.border-slate-400.rounded.p-5
                <span class="text-6xl mx-auto iconify" data-icon="icomoon-free:profile"></span>
                .mt-4 Talent Spotting
            a(href="/interview/new/post")
              h1.place-content-center.grid.border-2.border-slate-400.rounded.p-5 
                <span class="text-6xl mx-auto iconify" data-icon="openmoji:interview"></span>
                .mt-4 Interview
      
      - if ((page == "blog" || page == "news" || page == "gully-cricket-chronicles" || page == "interview" ) && !img && !info)  
        form.mx-auto.max-w-4xl(action=`/${page}/new/post` method="post")
          label(for="title").text-slate-700.text-left.text-xl.font-bold.block Title
            textarea#title(type="text" rows='2' name="title" required).resize-none.overflow-hidden.mt-2.w-full.bg-blue-100.h-10.p-2.border-slate-300.border-2= `${data.title}`
          label(for="summary").text-slate-700.text-left.text-xl.font-bold.block.mt-6 Summary
            textarea#summary(type="text" rows="5" name="summary" required).text-lg.mt-2.w-full.bg-blue-100.p-3.border-slate-300.border-2
             =`${data.summary}`
          button(type="submit").mt-8.text-center.w-full.box6.bg-blue-500.p-2.font-bold.text-lg Next
      
      - if (page == 'video')
        form.mx-auto.max-w-4xl(action=`/video/new/post` method="post")
          label(for="vt").text-slate-700.text-left.text-xl.font-bold.block Title
            input#vt(type="text" rows='2' name="vt" required).resize-none.overflow-hidden.mt-2.w-full.bg-blue-100.h-10.p-2.border-slate-300.border-2
          label(for="link").text-slate-700.text-left.text-xl.font-bold.block.mt-6 Link
            input#link(type="text" name="link" required).text-lg.mt-2.w-full.bg-blue-100.p-3.border-slate-300.border-2
          include _md.pug



      if img && !info
        form.max-w-xl.mx-auto(action=`/${page}/new/image/${data.slug}` enctype="multipart/form-data" method="post")
          .text-center.mt-5.mb-5.text-xl.font-bold= data.title
          .text-center.mt-5.mb-5.text-lg.font-bold.text-slate-300 Add Images Here
          label
            input.mx-auto.block.w-auto.text-sm.text-slate-500(type='file' name="test" required multiple class='file:mr-4 file:py-2 file:px-4 file:border-0 file:text-sm file:font-semibold file:bg-violet-200 file:text-violet-700 hover:file:bg-violet-300')
          button(type="submit").w-full.bg-violet-200.text-center.p-2.mt-10.box4.font-bold.text-lg Submit
      
      if info
        .text-center.text-xl.text-xl.font-bold= data.title
        
        .border-2.border-slate-600.mt-4.p-3
          .text-center.font-serif Your Images
          .grid.grid-cols-4.gap-2.mt-4
            each i in data.images
              img.h-full(src=`${i.link}` onclick=(`doMagic('![image](${i.link})')`))
        
        .max-w-4xl.mx-auto.mt-5
          form(action=`/${page}/add/info/${data.slug}` method="post") 
            .border-2.border-slate-600.mt-4.p-3
              .text-center.font-serif Select Your Main Background Image
              .grid.grid-cols-4.gap-2.mt-4
                each i in data.images
                  div.hiddenradio
                    label
                      input(type="radio" name="image" value=`${i.link}` checked)
                      img.h-full(src=`${i.link}`)
            include _md.pug

      - if (ts && page == 'talent-spotting')
        form.mx-auto.max-w-4xl(action=`/${page}/new/post` method="post")
          label(for="name").text-slate-700.text-left.text-xl.font-bold.block name
            textarea#name(type="text" rows='2' name="name" required).resize-none.overflow-hidden.mt-2.w-full.bg-blue-100.h-10.p-2.border-slate-300.border-2
          label(for="age").text-slate-700.text-left.text-xl.font-bold.block Age 
            input(type="number" name="age" required).bg-blue-100.border-2.border-slate-300.mt-2.w-full.mb-3
          label(for="place").text-slate-700.text-left.text-xl.font-bold.block Place
            input(type="text" name="place" required).bg-blue-100.border-2.border-slate-300.mt-2.w-full
          label(for="sum").text-slate-700.text-left.text-xl.font-bold.block.mt-6 Summary
            textarea#sum(type="text" rows="5" name="sum" required).text-lg.mt-2.w-full.bg-blue-100.p-3.border-slate-300.border-2
          button(type="submit").mt-8.box2.text-center.w-full.bg-blue-500.p-2.font-bold.text-lg Next
      
      if ts1 
        .text-center.text-xl.text-xl.font-bold= data.name
        
        .border-2.border-slate-600.mt-4.p-3
          .text-center.font-serif Your Images
          .grid.grid-cols-4.gap-2.mt-4
            each i in data.images
              img.h-full(src=`${i.link}` onclick=(`doMagic('![image](${i.link})')`))
        
        .max-w-4xl.mx-auto.mt-5
          form(action=`/talent-spotting/add/info/${data.slug}` method="post") 
            .border-2.border-slate-600.mt-4.p-3
              .text-center.font-serif Select Your Main Background Image
              .grid.grid-cols-4.gap-2.mt-4
                each i in data.images
                  div.hiddenradio
                    label
                      input(type="radio" name="image" value=`${i.link}` checked)
                      img.h-full(src=`${i.link}`)
            include _md.pug


    .flex-none
      include _footer.pug
    script.
      const boxes = document.querySelectorAll('.box1, .box2, .box3, .box4, .box5, .box6');
      for (const box of boxes) {
      box.addEventListener('click', function handleClick() {
      box.classList.add('cursor-wait');
      });
      }

      function doMagic(text){    
      var homeTown = text
      document.getElementById("markdown").value += '\n'+ homeTown;
      }

      const sup2 = document.querySelector('.btn');
      const sup = document.querySelector('#hello');
      function showv(){
      sup.classList.remove('hidden')
      sup2.classList.remove('hidden')
      }
      const message = document.querySelector('#hello');
      sup2.addEventListener('click', function () {
      const fixed = message.value.replace('watch?v=','embed/')
      const data = ` <iframe class="h.96 w-full" src='${fixed}'>`
      doMagic(data)
      });
